<div id="body">
<!-- top start -->
<div id="top">
    <!-- advbox start -->
    <!--  <div class="advbox">
        <div class="dt_small" style="display:none;">
            <div class="dt_toBig" style="display:none;"></div>
            <a href="http://www.jsfoot.com/" target="_blank"><img src="#springUrl('')/static/images/1325.jpg"
                                                                  width="990" height="60" alt="jquery广告图片缩略图"/></a>
        </div>
        <div class="dt_big">
            <div class="dt_toSmall"></div>
            <a href="http://www.jsfoot.com/" target="_blank"><img id="actionimg"
                                                                  src="#springUrl('')/static/images/sa11.jpg"
                                                                  width="990" height="500" alt="jquery广告图片大图"/></a>
        </div>
    </div> -->
    <!-- advbox end -->
    <!-- logo start -->
    <div style="text-align:left;float:left;">
        <a href="http://www.iutour.cn/">
            <img src="#springUrl('')/static/images/logo.jpg" style="height:100px;" alt="北京青年旅行社"/>
        </a>
    </div>
    <!-- logo end -->
    <!-- nav start -->
    <div class="nav">
        <ul>
            <li class="cur"><a href="http://www.jsfoot.com/">首 页</a></li>
            <li><a href="http://www.jsfoot.com/jquery/">线路产品</a></li>
            <li><a href="http://www.jsfoot.com/js/">图片墙</a></li>
            <li><a href="http://www.jsfoot.com/js/">马代杂记</a></li>
            <!-- 去掉last -->
            <!--<li class="last"><a href="http://www.jsfoot.com/">返回</a></li>-->
        </ul>
        <div class="nav-line"></div>
    </div>
    <div class="clear"></div>
    <!-- nav end -->
    <div style="height:2px;"></div>
    <!-- image nav start -->
    <div class="wrapper">
        <div id="focus">
            <ul>
                <li><a href="http://www.jsfoot.com/" target="_blank"><img src="#springUrl('')/static/images/top_1.jpg"
                                                                          alt="QQ商城焦点图效果下载"/></a></li>
                <li><a href="http://www.jsfoot.com/" target="_blank"><img src="#springUrl('')/static/images/top_2.jpg"
                                                                          alt="QQ商城焦点图效果教程"/></a></li>
                <li><a href="http://www.jsfoot.com/" target="_blank"><img src="#springUrl('')/static/images/top_3.jpg"
                                                                          alt="jquery商城焦点图效果"/></a></li>
            </ul>
        </div>
    </div>
    <!-- image nav end -->
</div>
<!-- top end -->
<!-- content start -->
<div id="content">
    #parse("master/maldives/maldives-master-i.vm")
    #parse("master/maldives/maldives-hot-product.vm")
    #parse("master/maldives/maldives-hot-island.vm")
    #parse("master/maldives/maldives-full-price.vm")
    #parse("master/maldives/maldives-group-product.vm")
    #parse("master/maldives/maldives-brand.vm")
</div>
<!-- content end -->


<!-- sidebar start -->
<div id="sidebar">
<!-- top10 start -->
<div class="ranklist">
    <div class="tit">
        <h2>岛屿TOP 10</h2>
    </div>
    <ol>
        <li class="top">
            <em>1</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-10-19/217.html"
                         title="jquery 图片滚动 xslider 插件 按钮控制自动图片左右滚动、上下滚动">jquery </a><span class="num">32万下载</span>
        </li>
        <li class="top">
            <em>2</em><a href="http://www.jsfoot.com/jquery/xxk/qh/2011-09-28/213.html"
                         title="jquery tab选项卡插件 轻量级tab选项卡插件支持鼠标滑过、点击、自动切换、数据回调等功能">jquery tab</a><span
                class="num">32万下载</span>
        </li>
        <li class="top">
            <em>3</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-09-05/167.html"
                         title="jquery 滚动 kxbdSuperMarquee插件支持图片与文字无缝滚动 图片翻滚 焦点图左右切换 banner广告制作">jquery 滚动</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>4</em><a href="http://www.jsfoot.com/jquery/letter/gd/2011-09-04/165.html"
                         title="jquery 文字滚动大全 scroll 支持文字或图片 单行滚动 多行滚动 带按钮控制滚动">jquery 文字</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>5</em><a href="http://www.jsfoot.com/jquery/images/qh/2011-08-04/102.html"
                         title="jquery 图片切换插件制作banner图片滚动播放、按钮控制图片滚动、选项卡等基于多功能jquery slide插件">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>6</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>7</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>8</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>9</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>10</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                          title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
    </ol>
    <div class="clear"></div>
</div>
<!-- top10 end -->
<!-- diving start -->
<div class="ranklist">
    <div class="tit">
        <h2>潜水点</h2>
    </div>
    <ol>
        <li class="top">
            <em>1</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-10-19/217.html"
                         title="jquery 图片滚动 xslider 插件 按钮控制自动图片左右滚动、上下滚动">jquery </a><span class="num">32万下载</span>
        </li>
        <li class="top">
            <em>2</em><a href="http://www.jsfoot.com/jquery/xxk/qh/2011-09-28/213.html"
                         title="jquery tab选项卡插件 轻量级tab选项卡插件支持鼠标滑过、点击、自动切换、数据回调等功能">jquery tab</a><span
                class="num">32万下载</span>
        </li>
        <li class="top">
            <em>3</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-09-05/167.html"
                         title="jquery 滚动 kxbdSuperMarquee插件支持图片与文字无缝滚动 图片翻滚 焦点图左右切换 banner广告制作">jquery 滚动</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>4</em><a href="http://www.jsfoot.com/jquery/letter/gd/2011-09-04/165.html"
                         title="jquery 文字滚动大全 scroll 支持文字或图片 单行滚动 多行滚动 带按钮控制滚动">jquery 文字</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>5</em><a href="http://www.jsfoot.com/jquery/images/qh/2011-08-04/102.html"
                         title="jquery 图片切换插件制作banner图片滚动播放、按钮控制图片滚动、选项卡等基于多功能jquery slide插件">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>6</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>7</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>8</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>9</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>10</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                          title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
    </ol>
    <div class="clear"></div>
</div>
<!-- diving end -->
<!-- tour information start -->
<div class="ranklist">
    <div class="tit">
        <h2>旅行须知</h2>
    </div>
    <ol>
        <li class="top">
            <em>1</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-10-19/217.html"
                         title="jquery 图片滚动 xslider 插件 按钮控制自动图片左右滚动、上下滚动">jquery </a><span class="num">32万下载</span>
        </li>
        <li class="top">
            <em>2</em><a href="http://www.jsfoot.com/jquery/xxk/qh/2011-09-28/213.html"
                         title="jquery tab选项卡插件 轻量级tab选项卡插件支持鼠标滑过、点击、自动切换、数据回调等功能">jquery tab</a><span
                class="num">32万下载</span>
        </li>
        <li class="top">
            <em>3</em><a href="http://www.jsfoot.com/jquery/images/cj/2011-09-05/167.html"
                         title="jquery 滚动 kxbdSuperMarquee插件支持图片与文字无缝滚动 图片翻滚 焦点图左右切换 banner广告制作">jquery 滚动</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>4</em><a href="http://www.jsfoot.com/jquery/letter/gd/2011-09-04/165.html"
                         title="jquery 文字滚动大全 scroll 支持文字或图片 单行滚动 多行滚动 带按钮控制滚动">jquery 文字</a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>5</em><a href="http://www.jsfoot.com/jquery/images/qh/2011-08-04/102.html"
                         title="jquery 图片切换插件制作banner图片滚动播放、按钮控制图片滚动、选项卡等基于多功能jquery slide插件">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>6</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>7</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>8</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>9</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                         title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
        <li>
            <em>10</em><a href="http://www.jsfoot.com/jquery/table/px/2011-07-31/92.html"
                          title="jquery 表格插件:Tablesorter 2.0 插件 表格用户体验内容筛选与分页筛选">jquery </a><span
                class="num">32万下载</span>
        </li>
    </ol>
    <div class="clear"></div>
</div>
<!-- tour information end -->

<!-- hot recommend start -->
<div class="imagesidebar">
    <div class="tit">
        <h2>热门推荐</h2>
    </div>
    <ol>
        <li>
            <img alt="大图" width="158" height="105" src="#springUrl('')/static/images/dao_1.jpg"/>
            <span>巨星夏威夷</span>
        </li>
        <li>
            <img alt="大图" width="158" height="105" src="#springUrl('')/static/images/dao_1.jpg"/>
            <span>优质斐济</span>
        </li>
        <li>
            <img alt="大图" width="158" height="105" src="#springUrl('')/static/images/dao_1.jpg"/>
            <span>阳光毛里求斯</span>
        </li>
        <li>
            <img alt="大图" width="158" height="105" src="#springUrl('')/static/images/dao_1.jpg"/>
            <span>浪漫塞班</span>
        </li>
    </ol>
    <div class="clear"></div>
</div>
<!-- hot recommend end -->
</div>
<!-- sidebar end -->
<div class="clear"></div>
<!-- bottom start -->
<!-- image scroll start -->
<div style="height:200px;">
    <div id="shelf" style="background-position:0 0;">
        <div id="imagescroll">
            <img title="title #1" src="#springUrl('')/static/images/1.jpg"/>
            <img title="title #2" src="#springUrl('')/static/images/2.jpg"/>
            <img title="title #3" src="#springUrl('')/static/images/3.jpg"/>
            <img title="title #4" src="#springUrl('')/static/images/4.jpg"/>
            <img title="title #5" src="#springUrl('')/static/images/5.jpg"/>
            <img title="title #6" src="#springUrl('')/static/images/6.jpg"/>
            <img title="title #7" src="#springUrl('')/static/images/7.jpg"/>
            <img title="title #1" src="#springUrl('')/static/images/1.jpg"/>
            <img title="title #2" src="#springUrl('')/static/images/2.jpg"/>
            <img title="title #3" src="#springUrl('')/static/images/3.jpg"/>
            <img title="title #4" src="#springUrl('')/static/images/4.jpg"/>
        </div>
    </div>
</div>
<!-- image scroll end -->


